/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
Fancy stuff from the web
========================================================================== */

/* ==========================================================================
Author's custom styles
========================================================================== */

body{
	font-family: "Special Elite", cursive, -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
	font-size: 19px;
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color:#EEE;
	background-image: url("/assets/images/rice-paper.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media all and (orientation:portrait) {
	body{
		font-size: 16px;
	}

}

li{
	line-height: 2em;
}

a{
	text-decoration: none;
	color: #bd9951;
}

a:hover{
}

h1, h2, h3, h4, h5{
	font-family: SentyWen, "Special Elite", cursive, -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

.special-font{
	font-family: SentyWen, "Special Elite", cursive, -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

block{
	display: block;
}

#main-frame{
	width: 70vw;
	min-width: 300px;
	color: #555555;
	margin: 7vh;
	/*
	background: rgba(255,244,241,0.4);
	border-bottom-right-radius: 6em;
	 */
}
.main-text{
	max-width: 600px;
}


#hontai, #hontai-small{
	position: fixed;
	z-index: -1;
}


#hontai{
	width: 80vw;
	max-width: 105vh;
	bottom: 2vh;
	right: 10vw;
	/* filter: blur(5px);*/
}

#hontai-small{
	width: 30vw;
	bottom: 1rem;
	right: 1rem;
}

.comments{
	padding: 0;
}

.comments .comments-item{
	display: flex;
	flex-direction: row;
	min-height: 6rem;
	margin-top: 1em;
}

a.ci-day{
	font-family: SentyWen, "Special Elite", cursive, -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
	transform: rotate(270deg) translate(-3em, -0.4em);
	width: 0.5rem;
	overflow: visible;
	white-space: nowrap;
	height: 1em;
}

ul.players{
	margin: 0;
	padding: 0;
}

.player-index{
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
	color: #555555;
	min-width: 4rem;
}

.player-pic-container{
	position: relative;
	height: 4rem;
	width: 4rem;
}

.player-pic{
	height: 4rem;
	width: 4rem;
	border-radius: 2.5rem;
	z-index: -2;
	position: absolute;
	bottom: 0rem;
}

.die-stamp {
	color: #b54c12;
	transform: rotate(-31deg);
	text-align: center;
	line-height: 1.4em;
	font-size: 1.5em;
	border-radius: 10px;
	border: solid #b54c12;
	height: 1em;
	opacity: 0.8;
	bottom: 0.1em;
	position: absolute;
	padding: 4px;
	left: -0.3em;
	z-index: -1;
	font-weight: bold;
	background: rgba(255, 148, 127, 0.67);
}

.player-name{
	flex: 0 0 8em;
	font-size: 1.1em;
	line-height: 1.1em;
	align-self: center;
	padding: 0 0 0 1em;
}

a.ci-player{
	flex: 0 0 4rem;
	height: 6rem;
	line-height: 6rem;
	position: relative;
}

a.ci-player .player-pic-container{
	opacity: 0.5;
	position: absolute;
	left: -1rem;
	top: 1.5rem;
	z-index: -1;
}

li.players-item{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	margin: 1em 0;
}

.comments .ci-content{
	margin-left: 0.5rem;
	border-left: solid #DCA;
	padding-left: 0.5rem;
	border-top-left-radius: 1em;
	color: inherit;
}

.comments .ci-suicide{
	font-size: 3.5rem;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 1.5rem;
	color: inherit;
}

.comments a.ci-content:hover{
	background: linear-gradient(135deg, rgba(189,153,81,0.5) 0%,rgba(125,185,232,0) 100%);
}

.comments .ci-content p{
	margin: 0.5em 0 0 0;
	line-height: 1.4em;
}
/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
