@font-face {
    font-family: "Special Elite";
    src: url("SpecialElite.eot"); /* IE9 */
    src: url("SpecialElite.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SpecialElite.woff") format("woff"), /* chrome, firefox */
    url("SpecialElite.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SpecialElite.svg#Special Elite") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


